<% if user_signed_in? %>
  <% if @user.id == @tribe.owner_id %>
      <% @tribe_requests.each do |tr| %>
          <h4>
            <span>Requests to Join Your Tribe:</span>
            <span><%= tr.user.email %></span>
            <span><%= link_to 'Accept', tribe_request_accept_path(:user => tr.user.id) %></span>
            <span><%= link_to 'Decline', tribe_request_decline_path(:user =>tr.user.id) %></span>
        <% end %>
          </h4>
          <div style="float: left; margin-left: 300px">
            <h2><%= @tribe.name %> members:</h2>
            <% @members.each do |member| %>
                <h4><%= link_to member.email, user_path(member) %></h4>
            <% end %>
          </div>
          <div style="float: left; margin-left: 200px;">
            <h4>
              <div>
                <span>Jobs Avaiable For Assignment:</span>
              </div>
              <div>
                <% @job_templates.each do |jt| %>
                <span><%= link_to jt.name, job_template_path(jt) %></span>
                    <br/>
                <% end %>
                <br/>
                <span><%= button_to 'New Tribe Job', new_job_template_path, :method => :get %></span>
              </div>
            </h4>
          </div>
        <div style="margin-left: 280px;
            width: 50%;
            padding: 10px;
            clear: both">
          <h2>Tribe Dinos: </h2>
          <table class="dino-table">
            <thead>
              <tr>
                <th class="first">Name</th>
                <th class="notFirst">Breed</th>
                <th class="notFirst">Gender</th>
                <th class="notFirst">Health</th>
                <th class="notFirst">Stamina</th>
                <th class="notFirst">Oxygen</th>
                <th class="notFirst">Food</th>
                <th class="notFirst">Weight</th>
                <th class="notFirst">Melee</th>
                <th class="notFirst">Movement Speed</th>
              </tr>
            </thead>
            <tbody>
            <% @dinos.each do |dino| %>
              <tr>
                <td><%= dino.name %></td>
                <td><%= dino.breed %></td>
                <td><%= dino.gender %></td>
                <td><%= dino.health %></td>
                <td><%= dino.stamina %></td>
                <td><%= dino.oxygen %></td>
                <td><%= dino.food %></td>
                <td><%= dino.weight %></td>
                <td><%= dino.melee %></td>
                <td><%= dino.movement_speed %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <br />
          <div style="display: inline-block">
            <div style="display: inline-block; margin-left: 5px"><%= button_to 'Add Dino', new_dino_path, :method => :get %></div>
            <div style="display: inline-block; margin-left: 440px;">
              <!-- TODO: Get this to work as a get method as opposed to a post! -->
              <%= form_tag({ :action => 'breed_calc'}) do %>
                <div><%= select_tag('breedSelect', options_for_select(%w(Pteranodon Rex))) %></div>
                <div><%= submit_tag 'Breeding Calculator' %></div>
              <% end %>
            </div>
          </div>
        </div>
  <% end %>
  <% if @user.tribe.blank? %>
    <h6><%= link_to 'Request to join tribe', tribe_request_path %></h6>
  <% end %>
<% end %>